src/Frenoy.Api/Service References/FrenoyVttl/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.frenoy.net/TabTAPI" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://api.frenoy.net/TabTAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://api.frenoy.net/TabTAPI" version="1.0">
      <xsd:element name="TestRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSeasonsRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetClubTeamsRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Club" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDivisionRankingRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="1" maxOccurs="1" name="DivisionId" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="WeekName" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RankingSystem" type="xsd:integer" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMatchesRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DivisionId" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Club" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Team" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DivisionCategory" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="WeekName" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Level" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ShowDivisionName" type="tns:ShowDivisionNameType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="YearDateFrom" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="1" name="YearDateTo" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="1" name="WithDetails" type="xsd:boolean" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMembersRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Club" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PlayerCategory" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="UniqueIndex" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="NameSearch" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ExtendedInformation" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="1" name="RankingPointsInformation" type="xsd:boolean" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="1" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Data" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetClubs">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ClubCategory" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Club" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDivisions">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
            <xsd:element minOccurs="0" name="Level" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ShowDivisionName" type="tns:ShowDivisionNameType" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTournaments">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:CredentialsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Season" type="xsd:integer" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ApiVersion" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="IsValidAccount" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Language" type="tns:SupportedLanguages" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Database" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RequestorIp" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ConsumedTicks" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentQuota" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="1" name="AllowedQuota" type="xsd:integer" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSeasonsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSeason" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CurrentSeasonName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="SeasonEntries" type="tns:SeasonEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetClubTeamsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ClubName" type="xsd:string" />
            <xsd:element name="TeamCount" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TeamEntries" type="tns:TeamEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDivisionRankingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DivisionName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="RankingEntries" type="tns:RankingEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMatchesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MatchCount" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="TeamMatchesEntries" type="tns:TeamMatchEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMembersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MemberCount" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="MemberEntries" type="tns:MemberEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:boolean" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrorLines" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetClubsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ClubCount" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ClubEntries" type="tns:ClubEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDivisionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="DivisionCount" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="DivisionEntries" type="tns:DivisionEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTournamentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TournamentCount" type="xsd:integer" />
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="TournamentEntries" type="tns:TournamentEntryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType nillable="false" name="CredentialsType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="Account" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType nillable="false" name="SeasonEntryType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="Season" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsCurrent" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DivisionEntryType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="DivisionId" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DivisionName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DivisionCategory" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Level" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="MatchType" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TeamEntryType">
        <xsd:all>
          <xsd:element name="TeamId" type="xsd:string" />
          <xsd:element name="Team" type="xsd:string" />
          <xsd:element name="DivisionId" type="xsd:integer" />
          <xsd:element name="DivisionName" type="xsd:string" />
          <xsd:element name="DivisionCategory" type="xsd:integer" />
          <xsd:element name="MatchType" type="xsd:integer" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RankingEntryType">
        <xsd:all>
          <xsd:element name="Position" type="xsd:integer" />
          <xsd:element name="Team" type="xsd:string" />
          <xsd:element name="GamesPlayed" type="xsd:integer" />
          <xsd:element name="GamesWon" type="xsd:integer" />
          <xsd:element name="GamesLost" type="xsd:integer" />
          <xsd:element name="GamesDraw" type="xsd:integer" />
          <xsd:element name="IndividualMatchesWon" type="xsd:integer" />
          <xsd:element name="IndividualMatchesLost" type="xsd:integer" />
          <xsd:element name="IndividualSetsWon" type="xsd:integer" />
          <xsd:element name="IndividualSetsLost" type="xsd:integer" />
          <xsd:element name="Points" type="xsd:integer" />
          <xsd:element name="TeamClub" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="IndividualMatchResultEntryType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Position" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="HomePlayerMatchIndex" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="HomePlayerUniqueIndex" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AwayPlayerMatchIndex" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AwayPlayerUniqueIndex" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HomeSetCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AwaySetCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IsHomeForfeited" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IsAwayForfeited" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeamMatchPlayerEntryType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Position" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UniqueIndex" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FirstName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LastName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Ranking" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VictoryCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IsForfeited" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeamMatchDoubleTeamEntryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Position" type="xsd:integer" />
          <xsd:element name="Team" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IsForfeited" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeamMatchDetailsEntryType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="DetailsCreated" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartTime" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EndTime" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HomeCaptain" type="tns:MemberEntryType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AwayCaptain" type="tns:MemberEntryType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Referee" type="tns:MemberEntryType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RoomResponsible" type="tns:MemberEntryType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HomePlayers" type="tns:TeamMatchPlayerListType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AwayPlayers" type="tns:TeamMatchPlayerListType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IndividualMatchResults" type="tns:IndividualMatchResultEntryType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeamMatchEntryType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="DivisionName" type="xsd:string" />
          <xsd:element maxOccurs="1" name="MatchId" type="xsd:string" />
          <xsd:element maxOccurs="1" name="WeekName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Venue" type="xsd:integer" />
          <xsd:element maxOccurs="1" name="HomeClub" type="xsd:string" />
          <xsd:element maxOccurs="1" name="HomeTeam" type="xsd:string" />
          <xsd:element maxOccurs="1" name="AwayClub" type="xsd:string" />
          <xsd:element maxOccurs="1" name="AwayTeam" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Score" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MatchUniqueId" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NextWeekName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PreviousWeekName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MatchDetails" type="tns:TeamMatchDetailsEntryType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TeamMatchPlayerListType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PlayerCount" type="xsd:integer" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DoubleTeamCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Players" type="tns:TeamMatchPlayerEntryType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DoubleTeams" type="tns:TeamMatchDoubleTeamEntryType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MemberEntryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Position" type="xsd:integer" />
          <xsd:element name="UniqueIndex" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RankingIndex" type="xsd:integer" />
          <xsd:element name="FirstName" type="xsd:string" />
          <xsd:element name="LastName" type="xsd:string" />
          <xsd:element name="Ranking" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Club" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:GenderType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BirthDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MedicalAttestation" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RankingPointsCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RankingPointsEntries" type="tns:RankingPointEntryType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:PhoneType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="SupportedLanguages">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en" />
          <xsd:enumeration value="fr" />
          <xsd:enumeration value="nl" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ShowDivisionNameType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="no" />
          <xsd:enumeration value="yes" />
          <xsd:enumeration value="short" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ClubEntryType">
        <xsd:sequence>
          <xsd:element name="UniqueIndex" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="LongName" type="xsd:string" />
          <xsd:element name="Category" type="xsd:integer" />
          <xsd:element name="CategoryName" type="xsd:string" />
          <xsd:element name="VenueCount" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="VenueEntries" type="tns:VenueEntryType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VenueEntryType">
        <xsd:all>
          <xsd:element name="Id" type="xsd:integer" />
          <xsd:element name="ClubVenue" type="xsd:integer" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="Street" type="xsd:string" />
          <xsd:element name="Town" type="xsd:string" />
          <xsd:element name="Phone" type="xsd:string" />
          <xsd:element name="Comment" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:simpleType name="GenderType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="M" />
          <xsd:enumeration value="F" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RankingPointEntryType">
        <xsd:all>
          <xsd:element name="MethodName" type="xsd:string" />
          <xsd:element name="Points" type="xsd:integer" />
          <xsd:element name="LastModified" type="xsd:dateTime" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PhoneType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Home" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Work" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fax" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddressType">
        <xsd:all>
          <xsd:element name="Line1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line2" type="xsd:string" />
          <xsd:element name="ZipCode" type="xsd:integer" />
          <xsd:element name="Town" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="TournamentEntryType">
        <xsd:sequence>
          <xsd:element name="UniqueIndex" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="ExternalIndex" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Test_Request">
    <wsdl:part name="body" element="tns:TestRequest" />
  </wsdl:message>
  <wsdl:message name="Test_Response">
    <wsdl:part name="body" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="GetSeasons_Request">
    <wsdl:part name="body" element="tns:GetSeasonsRequest" />
  </wsdl:message>
  <wsdl:message name="GetSeasons_Response">
    <wsdl:part name="body" element="tns:GetSeasonsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClubTeams_Request">
    <wsdl:part name="body" element="tns:GetClubTeamsRequest" />
  </wsdl:message>
  <wsdl:message name="GetClubTeams_Response">
    <wsdl:part name="body" element="tns:GetClubTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDivisionRanking_Request">
    <wsdl:part name="body" element="tns:GetDivisionRankingRequest" />
  </wsdl:message>
  <wsdl:message name="GetDivisionRanking_Response">
    <wsdl:part name="body" element="tns:GetDivisionRankingResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatches_Request">
    <wsdl:part name="body" element="tns:GetMatchesRequest" />
  </wsdl:message>
  <wsdl:message name="GetMatches_Response">
    <wsdl:part name="body" element="tns:GetMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembers_Request">
    <wsdl:part name="body" element="tns:GetMembersRequest" />
  </wsdl:message>
  <wsdl:message name="GetMembers_Response">
    <wsdl:part name="body" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="Upload_Request">
    <wsdl:part name="body" element="tns:UploadRequest" />
  </wsdl:message>
  <wsdl:message name="Upload_Response">
    <wsdl:part name="body" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="GetClubs_Request">
    <wsdl:part name="body" element="tns:GetClubs" />
  </wsdl:message>
  <wsdl:message name="GetClubs_Response">
    <wsdl:part name="body" element="tns:GetClubsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTournaments_Request">
    <wsdl:part name="body" element="tns:GetTournaments" />
  </wsdl:message>
  <wsdl:message name="GetTournaments_Response">
    <wsdl:part name="body" element="tns:GetTournamentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDivisions_Request">
    <wsdl:part name="body" element="tns:GetDivisions" />
  </wsdl:message>
  <wsdl:message name="GetDivisions_Response">
    <wsdl:part name="body" element="tns:GetDivisionsResponse" />
  </wsdl:message>
  <wsdl:portType name="TabTAPI_PortType">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:Test_Request" />
      <wsdl:output message="tns:Test_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetSeasons">
      <wsdl:input message="tns:GetSeasons_Request" />
      <wsdl:output message="tns:GetSeasons_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetClubTeams">
      <wsdl:input message="tns:GetClubTeams_Request" />
      <wsdl:output message="tns:GetClubTeams_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetDivisionRanking">
      <wsdl:input message="tns:GetDivisionRanking_Request" />
      <wsdl:output message="tns:GetDivisionRanking_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <wsdl:input message="tns:GetMatches_Request" />
      <wsdl:output message="tns:GetMatches_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input message="tns:GetMembers_Request" />
      <wsdl:output message="tns:GetMembers_Response" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input message="tns:Upload_Request" />
      <wsdl:output message="tns:Upload_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetClubs">
      <wsdl:input message="tns:GetClubs_Request" />
      <wsdl:output message="tns:GetClubs_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetDivisions">
      <wsdl:input message="tns:GetDivisions_Request" />
      <wsdl:output message="tns:GetDivisions_Response" />
    </wsdl:operation>
    <wsdl:operation name="GetTournaments">
      <wsdl:input message="tns:GetTournaments_Request" />
      <wsdl:output message="tns:GetTournaments_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TabTAPI_Binding" type="tns:TabTAPI_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="Test" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeasons">
      <soap:operation soapAction="GetSeasons" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClubTeams">
      <soap:operation soapAction="GetClubTeams" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivisionRanking">
      <soap:operation soapAction="GetDivisionRanking" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <soap:operation soapAction="GetMatches" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="GetMembers" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="Upload" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClubs">
      <soap:operation soapAction="GetClubs" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivisions">
      <soap:operation soapAction="GetDivisions" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTournaments">
      <soap:operation soapAction="GetTournaments" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TabTAPI_Service">
    <wsdl:port name="TabTAPI_Port" binding="tns:TabTAPI_Binding">
      <soap:address location="http://api.vttl.be/0.7/index.php?s=vttl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>